In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm

# 1. Read in Raw Data

In [2]:
train = pd.read_csv('../data/train.csv')
valid = pd.read_csv('../data/valid.csv')

train.shape[0], valid.shape[0]

(45000, 15000)

In [3]:
train.head(2)

,Id,Title,Body,Tags,CreationDate,Y
0,34552656,Java: Repeat Task Every Random Seconds,<p>I'm already familiar with repeating tasks e...,<java><repeat>,2016-01-01 00:21:59,LQ_CLOSE
1,34553034,Why are Java Optionals immutable?,<p>I'd like to understand why Java 8 Optionals...,<java><optional>,2016-01-01 02:03:20,HQ

In [15]:
train.loc[0].CreationDate

'2016-01-01 00:21:59'

In [6]:
all_data = pd.concat([train, valid]).reset_index(drop = True)

In [8]:
all_data.shape

(60000, 6)

In [12]:
train.query('Y == "HQ"').shape[0], valid.query('Y == "HQ"').shape[0]

(15000, 5000)

In [13]:
train.query('Y == "LQ_CLOSE"').shape[0], valid.query('Y == "LQ_CLOSE"').shape[0]

(15000, 5000)

In [14]:
train.query('Y == "LQ_EDIT"').shape[0], valid.query('Y == "LQ_CLOSE"').shape[0]

(15000, 5000)

# 2. Data Cleaning